<div class="example-container">
    <h3>Demo 02</h3>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="paises"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of paises" cdkDrag>{{item.name}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h3>Mover hacia aca</h3>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="paises2"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of paises2" cdkDrag>{{item.name}}</div>
    </div>
  </div>